body{
    margin: 0;
    padding: 0;
    color: #363959;
    font-size: 20px;
    font-family: 'Hind Siliguri', sans-serif;
}
nav{
    width: 1150px;
    height: 55px;
    margin: auto;
    position: sticky;
    top: 0;

}
.nav-logo{
    width: 200px;
    float: left;
    margin: 10px 0 0 20px;
}
.nav-logo img{
    width: 100%;
}
.menu ul{
    margin-right: 20px;
}
.menu ul li{
    list-style-type: none;
    display: inline;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu{
    float: right;
}
.second-section-container{
    width: 1150px;
    height: 500px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
    background-color: #FFFBF2;
}
.second-section-container .text{
    width: 50%;
    float: left;
}
 .yellow-highlight{
    color: #FABE47;
}
.second-section-container .text h1{
    font-size: 50px;
}
.second-section-container .img{
    float: left;
    width: 400px;
    margin-left: 10px;
}
.second-section-container .img img{
    width: 100%;
}
.btn{
    font-weight:bold;
    font-size: 16px;
    color: white;
    background-color: #a5bc46;
    padding: 17px 35px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.card-section{
    width: 1150px;
    margin: auto;
    height: 900px;
    background-color: #FBFBFB;
}
.card-container{
    margin: auto;
}
.card-1, .card-2, .card-3{
    width: 300px;
    height: 600px;
    overflow: hidden;
    float: left;
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    box-shadow:0px 2px 10px rgba(121, 116, 116, .5);
}
.card-1 img, .card-2 img, .card-3 img{
    height: 280px;
}
.card-one-img, .card-two-img, .card-three-img{
    text-align: center;
    background-color: #f3f3f3;
    background-size: cover;
    height: 300px;
    border-radius: 5%;
}
.card-one-rate, .card-two-rate, .card-three-rate{
    height: 72px;
    overflow: hidden;
}
.corr{
    height: 30px;
}
.card-one-rate p, .card-two-rate p, .card-three-rate p{
    float: left;
    font-size: 45px;
    margin-top: 5px;
    font-weight: bold;
    padding-left: 5px;
}
.corr{
    float: right;
}
.last-section{
    width: 1150px;
    height: 700px;
    margin: auto;
}
.ls-container{
    width: 450px;
    height: 450px;
    float: left;
}
.ls-img{
    width: 80px;
    margin:0 20px;
    float: left;
}
.ls-img img{
    width: 100%;
    margin-top: 40%;
}
.ls-text{
    padding: 10px;
}
.ls-text h3{
    height: 15px;
}
.lsimg{
    width: 650px;
    height: 450px;
    float: right;
}
.lsimg img{
    height: 100%;
    width: 100%;
}
footer{
    text-align: center;
    background-color: #FFFBF2;
}
footer h1,footer p{
    color:tomato;
}
footer input{
    font-size: 30px;
    padding: 30px;  
}
